//библиотеки
//<==ОБНУЛЕНИЕ======
@import "import/_null.scss";
//<Подключаем шрифты>=======================================================================================
@import "import/_fonts.scss";
@import "import/_global_style.scss";
//===========================================================================

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: #000;
	transition-duration: 0.5s;
	&.lock {
		overflow-x: hidden;
	}
	&.displacement {
		margin-right: 280px;
		margin-left: -280px;
		@media (max-width: 330px) {
			margin-right: 260px;
			margin-left: -260px;
		};
	}
}
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
//</ОБОЛОЧКА>===========================================================================================================
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================
@import "pages/_header.scss";
@import "pages/_content.scss";
@import "pages/_footer.scss";

