@font-face {
    font-family: 'TTNorms';
    src: local('TTNorms Bold'), local('TTNorms-Bold'),
        url('../../fonts/TTNorms-Bold.woff2') format('woff2'),
        url('../../fonts/TTNorms-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TTNorms';
    src: local('TTNorms Black'), local('TTNorms-Black'),
        url('../../fonts/TTNorms-Black.woff2') format('woff2'),
        url('../../fonts/TTNorms-Black.woff') format('woff');
    font-weight: black;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TTNorms';
    src: local('TTNorms Medium'), local('TTNorms-Medium'),
        url('../../fonts/TTNorms-Medium.woff2') format('woff2'),
        url('../../fonts/TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TTNorms';
    src: local('TTNorms Regular'), local('TTNorms-Regular'),
        url('../../fonts/TTNorms-Regular.woff2') format('woff2'),
        url('../../fonts/TTNorms-Regular.woff') format('woff');
    font-weight: regular;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../../fonts/Lato-Bold.woff2') format('woff2'),
        url('../../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'),
        url('../../fonts/Lato-Black.woff2') format('woff2'),
        url('../../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../../fonts/Lato-Regular.woff2') format('woff2'),
        url('../../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Light'),
        url('../../fonts/Lato-Light.woff2') format('woff2'),
        url('../../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: local('TTNorms Black'), local('TTNorms-Black'),
        url('../../fonts/Avenir-Black.woff2') format('woff2'),
        url('../../fonts/Avenir-Black.woff') format('woff');
    font-weight: black;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: local('TTNorms Medium'), local('TTNorms-Medium'),
        url('../../fonts/Avenir-Medium.woff2') format('woff2'),
        url('../../fonts/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


